.hidescroll {
    overflow: hidden;
}
.box-cnt {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 9990;
    background: rgba(0, 0, 0, 0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #2F000000, endColorstr = #2F000000);
    zoom: 1;
    -webkit-overflow-scrolling: touch;
}
.box-cnt {
    -webkit-transform: translateZ(0px);
}
.box-bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 17px;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
}
.box {
    position: relative;
    left: 50%;
    z-index: 9992;
}
.box-text {
    background-color: #fcfcfc;
    color: #000;
    text-align: center;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.265);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.265);
    box-shadow: 0 0 4px rgba(0,0,0,0.265);
}
.box-closer {
    float: right;
    background: #eee;
    text-align: right;
    padding: 5px 10px;
}
.box-closer a {
    cursor: pointer;
    color: #808080;
    text-decoration: none;
}
.box-closer a:hover {
    color: #000;
}
.box-bottom {
    height: 20px;
    cursor: pointer;
}
.box-title {
    color: #000;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
}